<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_35e1e2f320ff2f6aa8a9224d41a31cf6 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_35e1e2f320ff2f6aa8a9224d41a31cf6" ></div>
        
</body>
<script>
    
    
            var map_35e1e2f320ff2f6aa8a9224d41a31cf6 = L.map(
                "map_35e1e2f320ff2f6aa8a9224d41a31cf6",
                {
                    center: [37.5669747, 127.040228],
                    crs: L.CRS.EPSG3857,
                    zoom: 15,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_cb9678003575567e9bca1bb6f5210684 = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors", "detectRetina": false, "maxNativeZoom": 19, "maxZoom": 19, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
        
    
            tile_layer_cb9678003575567e9bca1bb6f5210684.addTo(map_35e1e2f320ff2f6aa8a9224d41a31cf6);
        
    
            var marker_3eb6ce72aba2051cd5b8e5469c042baa = L.marker(
                [37.5669747, 127.040228],
                {"iconSize": [30, 30]}
            ).addTo(map_35e1e2f320ff2f6aa8a9224d41a31cf6);
        
    
            var icon_cc65957936fe75b2d4e75c14546687eb = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "fas fa-location-crosshairs", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_3eb6ce72aba2051cd5b8e5469c042baa.setIcon(icon_cc65957936fe75b2d4e75c14546687eb);
        
    
        var popup_f97070dc80e99ee56a3aca7369234455 = L.popup({"maxWidth": "100%"});

        
            
                var html_0413c3c60fb7c97621a786f717d19486 = $(`<div id="html_0413c3c60fb7c97621a786f717d19486" style="width: 100.0%; height: 100.0%;">내위치</div>`)[0];
                popup_f97070dc80e99ee56a3aca7369234455.setContent(html_0413c3c60fb7c97621a786f717d19486);
            
        

        marker_3eb6ce72aba2051cd5b8e5469c042baa.bindPopup(popup_f97070dc80e99ee56a3aca7369234455)
        ;

        
    
    
            var marker_b5559ec6df15b42e46e1a76521a3855a = L.marker(
                [37.5658522754099, 127.041939050117],
                {}
            ).addTo(map_35e1e2f320ff2f6aa8a9224d41a31cf6);
        
    
            var icon_89b1dbe39b899f182f69f5c9db987f42 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "fas fa-mortar-pestle", "iconColor": "white", "markerColor": "black", "prefix": "fa"}
            );
            marker_b5559ec6df15b42e46e1a76521a3855a.setIcon(icon_89b1dbe39b899f182f69f5c9db987f42);
        
    
        var popup_641c11e581e5b7d5e44423016bf1f869 = L.popup({"maxWidth": "100%"});

        
            
                var html_8553dfadbf4626f18b2f2140addc45ae = $(`<div id="html_8553dfadbf4626f18b2f2140addc45ae" style="width: 100.0%; height: 100.0%;">햇살약국 - 전화번호: 02-2298-2825 </div>`)[0];
                popup_641c11e581e5b7d5e44423016bf1f869.setContent(html_8553dfadbf4626f18b2f2140addc45ae);
            
        

        marker_b5559ec6df15b42e46e1a76521a3855a.bindPopup(popup_641c11e581e5b7d5e44423016bf1f869)
        ;

        
    
    
            var marker_31a856f97d4b049473553c941a8f161f = L.marker(
                [37.5658799438, 127.0416626578],
                {}
            ).addTo(map_35e1e2f320ff2f6aa8a9224d41a31cf6);
        
    
            var icon_4f446a93ac3d2fa7b27961183d137e40 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "fas fa-mortar-pestle", "iconColor": "white", "markerColor": "black", "prefix": "fa"}
            );
            marker_31a856f97d4b049473553c941a8f161f.setIcon(icon_4f446a93ac3d2fa7b27961183d137e40);
        
    
        var popup_debc8a254fa7e898a22bc15b5cf8ed91 = L.popup({"maxWidth": "100%"});

        
            
                var html_cd1659f20eaeefba7f8473c24795d22b = $(`<div id="html_cd1659f20eaeefba7f8473c24795d22b" style="width: 100.0%; height: 100.0%;">수지약국 - 전화번호: 02-554-9124 </div>`)[0];
                popup_debc8a254fa7e898a22bc15b5cf8ed91.setContent(html_cd1659f20eaeefba7f8473c24795d22b);
            
        

        marker_31a856f97d4b049473553c941a8f161f.bindPopup(popup_debc8a254fa7e898a22bc15b5cf8ed91)
        ;

        
    
    
            var marker_e7452ce8cd5d0300f0ceb75c3974c52f = L.marker(
                [37.5625277935085, 127.034056746152],
                {}
            ).addTo(map_35e1e2f320ff2f6aa8a9224d41a31cf6);
        
    
            var icon_56441c76034d2c6357193656c4daa6c6 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "fas fa-mortar-pestle", "iconColor": "white", "markerColor": "black", "prefix": "fa"}
            );
            marker_e7452ce8cd5d0300f0ceb75c3974c52f.setIcon(icon_56441c76034d2c6357193656c4daa6c6);
        
    
        var popup_fb99d005646ef5e29060e8825c581a08 = L.popup({"maxWidth": "100%"});

        
            
                var html_0e32eb9fb05f48430ee85894696331d0 = $(`<div id="html_0e32eb9fb05f48430ee85894696331d0" style="width: 100.0%; height: 100.0%;">조이온누리약국 - 전화번호: 02-2282-7808 </div>`)[0];
                popup_fb99d005646ef5e29060e8825c581a08.setContent(html_0e32eb9fb05f48430ee85894696331d0);
            
        

        marker_e7452ce8cd5d0300f0ceb75c3974c52f.bindPopup(popup_fb99d005646ef5e29060e8825c581a08)
        ;

        
    
    
            var marker_e29dfbf84318dc846e7ee9ef5dc08f56 = L.marker(
                [37.5893839805739, 127.007732908993],
                {}
            ).addTo(map_35e1e2f320ff2f6aa8a9224d41a31cf6);
        
    
            var icon_da093502bca2d508778040883839915f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "fas fa-mortar-pestle", "iconColor": "white", "markerColor": "black", "prefix": "fa"}
            );
            marker_e29dfbf84318dc846e7ee9ef5dc08f56.setIcon(icon_da093502bca2d508778040883839915f);
        
    
        var popup_d7202c3f6b917bd38f0d339de9d675cd = L.popup({"maxWidth": "100%"});

        
            
                var html_7f62f6b90886764a23b8fdfe7d53a973 = $(`<div id="html_7f62f6b90886764a23b8fdfe7d53a973" style="width: 100.0%; height: 100.0%;">보림약국 - 전화번호: 02-762-7521 </div>`)[0];
                popup_d7202c3f6b917bd38f0d339de9d675cd.setContent(html_7f62f6b90886764a23b8fdfe7d53a973);
            
        

        marker_e29dfbf84318dc846e7ee9ef5dc08f56.bindPopup(popup_d7202c3f6b917bd38f0d339de9d675cd)
        ;

        
    
    
            var marker_f1fdc682fc3350746a495f534f8281cb = L.marker(
                [37.5996244278284, 127.087415682008],
                {}
            ).addTo(map_35e1e2f320ff2f6aa8a9224d41a31cf6);
        
    
            var icon_5f0b0627b292ca6fd7c8d2a1707e6870 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "fas fa-mortar-pestle", "iconColor": "white", "markerColor": "black", "prefix": "fa"}
            );
            marker_f1fdc682fc3350746a495f534f8281cb.setIcon(icon_5f0b0627b292ca6fd7c8d2a1707e6870);
        
    
        var popup_f5d981e724a64650626c321624777098 = L.popup({"maxWidth": "100%"});

        
            
                var html_c298ff3413792c5b6d576c8e462bcf06 = $(`<div id="html_c298ff3413792c5b6d576c8e462bcf06" style="width: 100.0%; height: 100.0%;">참약국 - 전화번호: 02-2208-1156 </div>`)[0];
                popup_f5d981e724a64650626c321624777098.setContent(html_c298ff3413792c5b6d576c8e462bcf06);
            
        

        marker_f1fdc682fc3350746a495f534f8281cb.bindPopup(popup_f5d981e724a64650626c321624777098)
        ;

        
    
    
            var marker_5369647ca74cf61f884fd58590e2ff7c = L.marker(
                [37.5623942326737, 127.033224444422],
                {}
            ).addTo(map_35e1e2f320ff2f6aa8a9224d41a31cf6);
        
    
            var icon_9d8364b9107fd2cc470299009c69be96 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "fas fa-mortar-pestle", "iconColor": "white", "markerColor": "black", "prefix": "fa"}
            );
            marker_5369647ca74cf61f884fd58590e2ff7c.setIcon(icon_9d8364b9107fd2cc470299009c69be96);
        
    
        var popup_649bd33a4580bb9434e27481f574e06e = L.popup({"maxWidth": "100%"});

        
            
                var html_378c837b6af941ab2de8f0bcca386455 = $(`<div id="html_378c837b6af941ab2de8f0bcca386455" style="width: 100.0%; height: 100.0%;">엄마손약국 - 전화번호: 02-6953-2773 </div>`)[0];
                popup_649bd33a4580bb9434e27481f574e06e.setContent(html_378c837b6af941ab2de8f0bcca386455);
            
        

        marker_5369647ca74cf61f884fd58590e2ff7c.bindPopup(popup_649bd33a4580bb9434e27481f574e06e)
        ;

        
    
    
            var marker_3c802653a985be6e98d247b534d03812 = L.marker(
                [37.5658347475768, 127.043074779356],
                {}
            ).addTo(map_35e1e2f320ff2f6aa8a9224d41a31cf6);
        
    
            var icon_fba4d84e2b5f2710e740a4a753cff1d5 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "fas fa-mortar-pestle", "iconColor": "white", "markerColor": "black", "prefix": "fa"}
            );
            marker_3c802653a985be6e98d247b534d03812.setIcon(icon_fba4d84e2b5f2710e740a4a753cff1d5);
        
    
        var popup_fb1984b03787ed9e9bb3f39b546e5be3 = L.popup({"maxWidth": "100%"});

        
            
                var html_fc1f48cb1a895a6121d6b49604038f06 = $(`<div id="html_fc1f48cb1a895a6121d6b49604038f06" style="width: 100.0%; height: 100.0%;">참사랑약국 - 전화번호: 02-2292-7369 </div>`)[0];
                popup_fb1984b03787ed9e9bb3f39b546e5be3.setContent(html_fc1f48cb1a895a6121d6b49604038f06);
            
        

        marker_3c802653a985be6e98d247b534d03812.bindPopup(popup_fb1984b03787ed9e9bb3f39b546e5be3)
        ;

        
    
    
            var marker_17531a3b3297a32a9e16876bb99eced9 = L.marker(
                [37.5734702010852, 127.031137416866],
                {}
            ).addTo(map_35e1e2f320ff2f6aa8a9224d41a31cf6);
        
    
            var icon_b5fcd161956ffb221d1c7b6eb659f84a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "fas fa-mortar-pestle", "iconColor": "white", "markerColor": "black", "prefix": "fa"}
            );
            marker_17531a3b3297a32a9e16876bb99eced9.setIcon(icon_b5fcd161956ffb221d1c7b6eb659f84a);
        
    
        var popup_c8e8d68af3f2f024b868b7f60f7686b5 = L.popup({"maxWidth": "100%"});

        
            
                var html_5934210bcda1b1001989d94ab665cf66 = $(`<div id="html_5934210bcda1b1001989d94ab665cf66" style="width: 100.0%; height: 100.0%;">신상록수약국 - 전화번호: 02-926-6969 </div>`)[0];
                popup_c8e8d68af3f2f024b868b7f60f7686b5.setContent(html_5934210bcda1b1001989d94ab665cf66);
            
        

        marker_17531a3b3297a32a9e16876bb99eced9.bindPopup(popup_c8e8d68af3f2f024b868b7f60f7686b5)
        ;

        
    
    
            var marker_9221663c0d8c75d401bea6c72a453ce1 = L.marker(
                [37.5768030967407, 127.025796515924],
                {}
            ).addTo(map_35e1e2f320ff2f6aa8a9224d41a31cf6);
        
    
            var icon_d102d7aad1829482145eb23308fad336 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "fas fa-mortar-pestle", "iconColor": "white", "markerColor": "black", "prefix": "fa"}
            );
            marker_9221663c0d8c75d401bea6c72a453ce1.setIcon(icon_d102d7aad1829482145eb23308fad336);
        
    
        var popup_05a29938a58d17f35fdc83bed11bfe53 = L.popup({"maxWidth": "100%"});

        
            
                var html_e0bc678cba2c1e4a9d09432a6547525d = $(`<div id="html_e0bc678cba2c1e4a9d09432a6547525d" style="width: 100.0%; height: 100.0%;">하모니약국 - 전화번호: 02-926-8800 </div>`)[0];
                popup_05a29938a58d17f35fdc83bed11bfe53.setContent(html_e0bc678cba2c1e4a9d09432a6547525d);
            
        

        marker_9221663c0d8c75d401bea6c72a453ce1.bindPopup(popup_05a29938a58d17f35fdc83bed11bfe53)
        ;

        
    
    
            var marker_0856a839b270313994e5a5d5bb1d2032 = L.marker(
                [37.5478154393, 127.06781108459998],
                {}
            ).addTo(map_35e1e2f320ff2f6aa8a9224d41a31cf6);
        
    
            var icon_ac12b33d4d0d46364ac119b778915654 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "fas fa-mortar-pestle", "iconColor": "white", "markerColor": "black", "prefix": "fa"}
            );
            marker_0856a839b270313994e5a5d5bb1d2032.setIcon(icon_ac12b33d4d0d46364ac119b778915654);
        
    
        var popup_ce71a950da9ded034a65457f6cff0cdb = L.popup({"maxWidth": "100%"});

        
            
                var html_1ebe805c37ee39ea3702a863107e08cc = $(`<div id="html_1ebe805c37ee39ea3702a863107e08cc" style="width: 100.0%; height: 100.0%;">스타온누리약국 - 전화번호: 02-2039-2733 </div>`)[0];
                popup_ce71a950da9ded034a65457f6cff0cdb.setContent(html_1ebe805c37ee39ea3702a863107e08cc);
            
        

        marker_0856a839b270313994e5a5d5bb1d2032.bindPopup(popup_ce71a950da9ded034a65457f6cff0cdb)
        ;

        
    
    
            var marker_31933111625a6256c2dcb6a39c51af87 = L.marker(
                [37.5890786091259, 127.008106970359],
                {}
            ).addTo(map_35e1e2f320ff2f6aa8a9224d41a31cf6);
        
    
            var icon_e062a389a7f57ada15ac25ab8264f6c5 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "fas fa-mortar-pestle", "iconColor": "white", "markerColor": "black", "prefix": "fa"}
            );
            marker_31933111625a6256c2dcb6a39c51af87.setIcon(icon_e062a389a7f57ada15ac25ab8264f6c5);
        
    
        var popup_df78e6428cec1ef50c37ef204c5feed5 = L.popup({"maxWidth": "100%"});

        
            
                var html_2c14b05e89441c4668d7cfbda624c566 = $(`<div id="html_2c14b05e89441c4668d7cfbda624c566" style="width: 100.0%; height: 100.0%;">굿모닝약국 - 전화번호: 02-916-3623 </div>`)[0];
                popup_df78e6428cec1ef50c37ef204c5feed5.setContent(html_2c14b05e89441c4668d7cfbda624c566);
            
        

        marker_31933111625a6256c2dcb6a39c51af87.bindPopup(popup_df78e6428cec1ef50c37ef204c5feed5)
        ;

        
    
    
            var marker_dd609b723758a868feb110517e426b6f = L.marker(
                [37.5627530359422, 127.033449840725],
                {}
            ).addTo(map_35e1e2f320ff2f6aa8a9224d41a31cf6);
        
    
            var icon_bb56c5356b16977d400f7962b630357a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "fas fa-mortar-pestle", "iconColor": "white", "markerColor": "black", "prefix": "fa"}
            );
            marker_dd609b723758a868feb110517e426b6f.setIcon(icon_bb56c5356b16977d400f7962b630357a);
        
    
        var popup_2474a3eafffa9cd299a166705ca5f1ce = L.popup({"maxWidth": "100%"});

        
            
                var html_34cf96a8ec8ea25f21baf7533e0e42d8 = $(`<div id="html_34cf96a8ec8ea25f21baf7533e0e42d8" style="width: 100.0%; height: 100.0%;">산호약국 - 전화번호: 02-2298-5414 </div>`)[0];
                popup_2474a3eafffa9cd299a166705ca5f1ce.setContent(html_34cf96a8ec8ea25f21baf7533e0e42d8);
            
        

        marker_dd609b723758a868feb110517e426b6f.bindPopup(popup_2474a3eafffa9cd299a166705ca5f1ce)
        ;

        
    
    
            var marker_36e852e66256074e28cf132d2ee13f92 = L.marker(
                [37.5374066951935, 127.083099910723],
                {}
            ).addTo(map_35e1e2f320ff2f6aa8a9224d41a31cf6);
        
    
            var icon_e29ddc0c86c187489381ff33abd2ad34 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "fas fa-mortar-pestle", "iconColor": "white", "markerColor": "black", "prefix": "fa"}
            );
            marker_36e852e66256074e28cf132d2ee13f92.setIcon(icon_e29ddc0c86c187489381ff33abd2ad34);
        
    
        var popup_8bc81e53e448d22d97a399501b837043 = L.popup({"maxWidth": "100%"});

        
            
                var html_689018e1e65660d8392abf894231ed7d = $(`<div id="html_689018e1e65660d8392abf894231ed7d" style="width: 100.0%; height: 100.0%;">조은우리약국 - 전화번호: 02-453-4848 </div>`)[0];
                popup_8bc81e53e448d22d97a399501b837043.setContent(html_689018e1e65660d8392abf894231ed7d);
            
        

        marker_36e852e66256074e28cf132d2ee13f92.bindPopup(popup_8bc81e53e448d22d97a399501b837043)
        ;

        
    
    
            var marker_abc380706e2c388088fa89218da0fe19 = L.marker(
                [37.5891500451849, 127.008289042894],
                {}
            ).addTo(map_35e1e2f320ff2f6aa8a9224d41a31cf6);
        
    
            var icon_52ae6479c059ad042e427c7be4d2c163 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "fas fa-mortar-pestle", "iconColor": "white", "markerColor": "black", "prefix": "fa"}
            );
            marker_abc380706e2c388088fa89218da0fe19.setIcon(icon_52ae6479c059ad042e427c7be4d2c163);
        
    
        var popup_0db8b13a3c06f927785c208e3a386281 = L.popup({"maxWidth": "100%"});

        
            
                var html_de8505f56de21fe8a87034e4a690420c = $(`<div id="html_de8505f56de21fe8a87034e4a690420c" style="width: 100.0%; height: 100.0%;">참약사엘림약국 - 전화번호: 02-764-5291 </div>`)[0];
                popup_0db8b13a3c06f927785c208e3a386281.setContent(html_de8505f56de21fe8a87034e4a690420c);
            
        

        marker_abc380706e2c388088fa89218da0fe19.bindPopup(popup_0db8b13a3c06f927785c208e3a386281)
        ;

        
    
    
            var marker_3e98b26554edd5abb93aaae4f0ce7ee5 = L.marker(
                [37.5623299333488, 127.03437221242],
                {}
            ).addTo(map_35e1e2f320ff2f6aa8a9224d41a31cf6);
        
    
            var icon_aa007f1406a2501b2d2cc8acd92fdc48 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "fas fa-mortar-pestle", "iconColor": "white", "markerColor": "black", "prefix": "fa"}
            );
            marker_3e98b26554edd5abb93aaae4f0ce7ee5.setIcon(icon_aa007f1406a2501b2d2cc8acd92fdc48);
        
    
        var popup_e3e15e70b481d8c98d37f3b0f1e824f5 = L.popup({"maxWidth": "100%"});

        
            
                var html_79c00bf29c6a246e562a3c31ae977c1a = $(`<div id="html_79c00bf29c6a246e562a3c31ae977c1a" style="width: 100.0%; height: 100.0%;">건강한약국 - 전화번호: 02-2231-8803 </div>`)[0];
                popup_e3e15e70b481d8c98d37f3b0f1e824f5.setContent(html_79c00bf29c6a246e562a3c31ae977c1a);
            
        

        marker_3e98b26554edd5abb93aaae4f0ce7ee5.bindPopup(popup_e3e15e70b481d8c98d37f3b0f1e824f5)
        ;

        
    
    
            var marker_f2fdae5401e9f6e1c0a2deea85ff0089 = L.marker(
                [37.5648731412213, 127.03570299576],
                {}
            ).addTo(map_35e1e2f320ff2f6aa8a9224d41a31cf6);
        
    
            var icon_dc9b3acf89abd2026b60b140fa58399c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "fas fa-mortar-pestle", "iconColor": "white", "markerColor": "black", "prefix": "fa"}
            );
            marker_f2fdae5401e9f6e1c0a2deea85ff0089.setIcon(icon_dc9b3acf89abd2026b60b140fa58399c);
        
    
        var popup_5740ad7d6a9f55f1f1d989dbbe6682d2 = L.popup({"maxWidth": "100%"});

        
            
                var html_1637ee3656a0e0db0d2505d141f32f0f = $(`<div id="html_1637ee3656a0e0db0d2505d141f32f0f" style="width: 100.0%; height: 100.0%;">예전약국 - 전화번호: 02-2292-4642 </div>`)[0];
                popup_5740ad7d6a9f55f1f1d989dbbe6682d2.setContent(html_1637ee3656a0e0db0d2505d141f32f0f);
            
        

        marker_f2fdae5401e9f6e1c0a2deea85ff0089.bindPopup(popup_5740ad7d6a9f55f1f1d989dbbe6682d2)
        ;

        
    
    
            var marker_ac8801d00d961c96909b492c26a67bed = L.marker(
                [37.56997535154812, 127.03783895738108],
                {}
            ).addTo(map_35e1e2f320ff2f6aa8a9224d41a31cf6);
        
    
            var icon_403b1ea3bee32cc3bf78d04784c21a28 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "fas fa-mortar-pestle", "iconColor": "white", "markerColor": "black", "prefix": "fa"}
            );
            marker_ac8801d00d961c96909b492c26a67bed.setIcon(icon_403b1ea3bee32cc3bf78d04784c21a28);
        
    
        var popup_f7915c9e5c4fcc20e107e8e0bed14f9f = L.popup({"maxWidth": "100%"});

        
            
                var html_fbdd616fe7a3453962b82953b377f182 = $(`<div id="html_fbdd616fe7a3453962b82953b377f182" style="width: 100.0%; height: 100.0%;">한솔약국 - 전화번호: 02-2295-5135 </div>`)[0];
                popup_f7915c9e5c4fcc20e107e8e0bed14f9f.setContent(html_fbdd616fe7a3453962b82953b377f182);
            
        

        marker_ac8801d00d961c96909b492c26a67bed.bindPopup(popup_f7915c9e5c4fcc20e107e8e0bed14f9f)
        ;

        
    
    
            var marker_3e50d57248d46fd986ed43d9eea50f45 = L.marker(
                [37.5611049829427, 127.032627176876],
                {}
            ).addTo(map_35e1e2f320ff2f6aa8a9224d41a31cf6);
        
    
            var icon_40a09fae7174a8ca03a3be9a5fed2449 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "fas fa-mortar-pestle", "iconColor": "white", "markerColor": "black", "prefix": "fa"}
            );
            marker_3e50d57248d46fd986ed43d9eea50f45.setIcon(icon_40a09fae7174a8ca03a3be9a5fed2449);
        
    
        var popup_0cf01cef39bdcb3b5d2b0171e7b28a6e = L.popup({"maxWidth": "100%"});

        
            
                var html_27fbf8919206ea3f81ae8bba993b742f = $(`<div id="html_27fbf8919206ea3f81ae8bba993b742f" style="width: 100.0%; height: 100.0%;">상도약국 - 전화번호: 02-2292-5485 </div>`)[0];
                popup_0cf01cef39bdcb3b5d2b0171e7b28a6e.setContent(html_27fbf8919206ea3f81ae8bba993b742f);
            
        

        marker_3e50d57248d46fd986ed43d9eea50f45.bindPopup(popup_0cf01cef39bdcb3b5d2b0171e7b28a6e)
        ;

        
    
    
            var marker_807be208fd0fa869ba01cd6791e5543c = L.marker(
                [37.6054064377729, 127.09566855816],
                {}
            ).addTo(map_35e1e2f320ff2f6aa8a9224d41a31cf6);
        
    
            var icon_3f6d22cd3d4a286dfae72867b06da5dc = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "fas fa-mortar-pestle", "iconColor": "white", "markerColor": "black", "prefix": "fa"}
            );
            marker_807be208fd0fa869ba01cd6791e5543c.setIcon(icon_3f6d22cd3d4a286dfae72867b06da5dc);
        
    
        var popup_01d104692ce2822d99fe35406368715e = L.popup({"maxWidth": "100%"});

        
            
                var html_8725f72e20ce71e731a3d175bab3d5cc = $(`<div id="html_8725f72e20ce71e731a3d175bab3d5cc" style="width: 100.0%; height: 100.0%;">오성약국 - 전화번호: 070-8805-8844 </div>`)[0];
                popup_01d104692ce2822d99fe35406368715e.setContent(html_8725f72e20ce71e731a3d175bab3d5cc);
            
        

        marker_807be208fd0fa869ba01cd6791e5543c.bindPopup(popup_01d104692ce2822d99fe35406368715e)
        ;

        
    
    
            var marker_70b50813f7b625275b691df1f326f8da = L.marker(
                [37.5622045860266, 127.032201520239],
                {}
            ).addTo(map_35e1e2f320ff2f6aa8a9224d41a31cf6);
        
    
            var icon_93fd9e53a34d8cc21012d0c585fad749 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "fas fa-mortar-pestle", "iconColor": "white", "markerColor": "black", "prefix": "fa"}
            );
            marker_70b50813f7b625275b691df1f326f8da.setIcon(icon_93fd9e53a34d8cc21012d0c585fad749);
        
    
        var popup_ad784778f0c731e1688c7250e4ea753f = L.popup({"maxWidth": "100%"});

        
            
                var html_44f4302f4549f4f3800a5e7f2bd32242 = $(`<div id="html_44f4302f4549f4f3800a5e7f2bd32242" style="width: 100.0%; height: 100.0%;">왕십리약국 - 전화번호: 02-2292-4247 </div>`)[0];
                popup_ad784778f0c731e1688c7250e4ea753f.setContent(html_44f4302f4549f4f3800a5e7f2bd32242);
            
        

        marker_70b50813f7b625275b691df1f326f8da.bindPopup(popup_ad784778f0c731e1688c7250e4ea753f)
        ;

        
    
</script>
</html>